{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
          </div>
          {{ with .Page.Params.Authors }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div>
        {{ if .Params.featuredImage }}
          <img src='{{ .Params.featuredImage }}' alt="Featured image"/>
        {{ end }}
        {{ .Content }}
      </div>

      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utterances.html" . }}
      </footer>
    </article>

    <div class="next-post">
      {{ if .NextPage }}
      <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">« {{ .NextPage.Title | truncate 50 "..." }}</a>
      {{ end }}
    </div>
    
    <div class="previous-post">
      {{ if .PrevPage }}
      <a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
      {{ end }}
    </div>



    {{ partial "posts/math.html" . }}
  </section>

    
<section>
  <ul>
    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
          <div class="tagbutton">
    <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">{{$name}}</a>
    <sup>{{$cnt}}</sup>
          </div>
    {{end}}
  {{end}}
  </ul>
</section>
{{ end }}
